.sidenav {
  background-color: var(--color-neutral-dark);

  border-radius: 1rem;
  margin: 3.2rem 0 3.2rem 3.2rem;

  width: 10rem;
  height: 90vh;

  display: flex;
  justify-content: center;

  position: sticky;
  top: 5vh;

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem 1.6rem 3rem 1.6rem;

    &__logo {
    }
    &__home {
      margin-top: 5rem;

      &:hover {
        filter: var(--filter-hover);
      }
      &__image {
      }
    }
    &__movies {
      &:hover {
        filter: var(--filter-hover);
      }
    }
    &__series {
      &:hover {
        filter: var(--filter-hover);
      }
    }
    &__bookmarked {
      &:hover {
        filter: var(--filter-hover);
      }
    }

    &__user {
      margin-top: auto;
      cursor: pointer;

      display: flex;
      justify-content: center;

      &__image {
        border: 1px solid #fff;
        border-radius: 50%;
        width: 3.8rem;
        height: 3.8rem;
      }
    }
  }
}

.search {
  display: flex;
  margin-top: 4rem;

  // Because I moved the search icon to the right
  transform: translateX(-3rem);

  &__button {
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;

    // Move search icon to include it inside focused outline
    transform: translateX(3.2rem);
    &__image {
    }
  }

  &__bar {
    width: 100%;
    height: 4rem;
    padding-left: 4rem;
    background-color: var(--color-secondary);
    border: none;
    font-family: var(--font-family);
    font-weight: var(--font-weight-S);
    font-size: var(--font-size-head-M);
    color: #fff;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  margin-left: 3.6rem;

  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
}

.trending {
  &__title {
    font-size: var(--font-size-head-L);
    font-weight: var(--font-weight-S);
    letter-spacing: -0.05rem;

    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    overflow: hidden;

    &__movie {
      list-style: none;
      min-width: 47rem;
      min-height: 23rem;
      background-size: cover;
      border-radius: 1rem;

      color: #fff;

      position: relative;

      &__bookmark {
        background-color: var(--color-secondary);

        position: absolute;
        right: 3rem;
        top: 2.4rem;

        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 50%;
        cursor: pointer;

        &__image {
        }
      }

      &__contents {
        position: absolute;
        bottom: 2.1rem;
        left: 1.8rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        &__info {
          color: var(--color-text-primary);
          font-weight: var(--font-weight-S);
          font-size: var(--font-size-M);
          opacity: 95%;

          display: flex;
          justify-content: center;
          align-items: center;
          text-shadow: 0.2rem 0.2rem 0.5rem #000;

          gap: 0.8rem;

          &__year {
          }

          &__type {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &__image {
              width: 1.2rem;
              height: 1.2rem;
            }

            &__text {
            }
          }

          &__age {
          }
        }
        &__title {
          font-size: var(--font-size-head-M);
          font-weight: var(--font-weight-S);
          text-shadow: 0.2rem 0.2rem 0.5rem #000;
        }
      }
    }
  }
}

.recommended {
  &__title {
    font-size: var(--font-size-head-L);
    font-weight: var(--font-weight-S);
    letter-spacing: -0.05rem;

    margin-bottom: 2rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(24rem, 100%), 1fr));
    gap: 3.8rem;
    margin-right: 3rem;

    &__movie {
      position: relative;
      list-style: none;

      &__main {
        background-image: url("..//assets/thumbnails/the-great-lands/regular/large.jpg");
        height: 17.4rem;
        background-size: cover;
        border-radius: 0.6rem;

        &__bookmark {
          background-color: var(--color-secondary);

          position: absolute;
          right: 1.8rem;
          top: 1.4rem;

          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          opacity: 50%;
          cursor: pointer;

          &__image {
          }
        }
      }

      &__contents {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        &__info {
          color: var(--color-text-primary);
          font-weight: var(--font-weight-S);
          font-size: var(--font-size-S);
          opacity: 80%;

          display: flex;
          //   justify-content: center;
          align-items: center;

          gap: 0.6rem;

          &__year {
          }

          &__type {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &__image {
              width: 1.2rem;
              height: 1.2rem;
            }

            &__text {
            }
          }

          &__age {
          }
        }
        &__title {
          font-size: var(--font-size-head-S);
          font-weight: var(--font-weight-S);
        }
      }
    }
  }
}

.movies {
  overflow: hidden;
  &__title {
    font-size: var(--font-size-head-L);
    font-weight: var(--font-weight-S);
    letter-spacing: -0.05rem;

    margin-bottom: 2rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(24rem, 100%), 1fr));
    // justify-content: center;
    gap: 3.8rem;

    &__movie {
      position: relative;
      list-style: none;

      &__main {
        background-image: url("../assets/thumbnails/the-great-lands/regular/large.jpg");
        height: 17.4rem;
        background-size: cover;
        border-radius: 0.6rem;

        &__bookmark {
          background-color: var(--color-secondary);

          position: absolute;
          right: 1.8rem;
          top: 1.4rem;

          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          opacity: 50%;
          cursor: pointer;

          &__image {
          }
        }
      }

      &__contents {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        &__info {
          color: var(--color-text-primary);
          font-weight: var(--font-weight-S);
          font-size: var(--font-size-S);
          opacity: 80%;

          display: flex;
          //   justify-content: center;
          align-items: center;

          gap: 0.6rem;

          &__year {
          }

          &__type {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &__image {
              width: 1.2rem;
              height: 1.2rem;
            }

            &__text {
            }
          }

          &__age {
          }
        }
        &__title {
          font-size: var(--font-size-head-S);
          font-weight: var(--font-weight-S);
        }
      }
    }
  }
}

.series {
  overflow: hidden;
  &__title {
    font-size: var(--font-size-head-L);
    font-weight: var(--font-weight-S);
    letter-spacing: -0.05rem;

    margin-bottom: 2rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(24rem, 100%), 1fr));
    // justify-content: center;
    gap: 3.8rem;

    &__movie {
      position: relative;
      list-style: none;

      &__main {
        background-image: url("../assets/thumbnails/the-great-lands/regular/large.jpg");
        height: 17.4rem;
        background-size: cover;
        border-radius: 0.6rem;

        &__bookmark {
          background-color: var(--color-secondary);

          position: absolute;
          right: 1.8rem;
          top: 1.4rem;

          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;

          opacity: 50%;
          cursor: pointer;

          &__image {
          }
        }
      }

      &__contents {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        &__info {
          color: var(--color-text-primary);
          font-weight: var(--font-weight-S);
          font-size: var(--font-size-S);
          opacity: 80%;

          display: flex;
          //   justify-content: center;
          align-items: center;

          gap: 0.6rem;

          &__year {
          }

          &__type {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &__image {
              width: 1.2rem;
              height: 1.2rem;
            }

            &__text {
            }
          }

          &__age {
          }
        }
        &__title {
          font-size: var(--font-size-head-S);
          font-weight: var(--font-weight-S);
        }
      }
    }
  }
}
